{% extends "base.html.twig" %}

{% block title 'vehicule' %}

{% block body %}

	<h1>{{ vehicule.titre }}</h1>
	<img src="{{ asset(vehicule.photo) }}" alt="" class="img-fluid">
	<p>{{ vehicule.description | nl2br }}</p>

	<ul class="list-inline">
		<li class="list-inline-item">marque :
			<span class="badge bg-warning">{{ vehicule.marque }}</span>
		</li>
		<li class="list-inline-item">modele :
			<span class="badge bg-warning">{{ vehicule.modele }}</span>
		</li>
	</ul>
{% endblock %}
